:root {
  --color-main-grey: #d5dadd;
  --color-main-red: #ff0600;
  --color-main-beige: #fff9b7;
  --color-main-white: #fff;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.6);
  --line: 1px solid var(--color-grey-light-2); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-main-grey);
  min-height: 50rem;
  box-shadow: var(--shadow-dark); }

.header {
  font-size: 1.4rem;
  height: 17rem;
  background-color: var(--color-main-beige);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.features {
  grid-column: center-start / center-end;
  margin: 10rem 15rem;
  padding-bottom: 10rem; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.logo {
  margin-left: 5.5rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-grey-dark-1);
    font-weight: bold;
    font-size: large;
    background-color: var(--color-main-grey);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-main-grey); }
    .search__input::-webkit-input-placeholder {
      font-weight: bold;
      font-size: large;
      color: var(--color-grey-dark-2); }
  .search__input:focus + .search__button {
    background-color: var(--color-main-grey); }
  .search__button {
    border: none;
    background-color: var(--color-main-grey); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 3rem;
    cursor: pointer;
    height: 45%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    transform: translateY(2px); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-1); }
  .user-nav__notification {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--color-main-red);
    color: var(--color-main-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 7rem;
    border-radius: 50%;
    margin-right: 2rem;
    margin-left: 1rem; }
  .user-nav__user-name {
    color: var(--color-grey-dark-1);
    font-weight: bold; }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: var(--color-grey-dark-1);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.slider-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  user-select: none;
  background-color: #1c1c1c; }
  .slider-container input {
    display: none; }
  .slider-container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .slider-container .slide_img img {
      width: inherit;
      height: inherit; }
    .slider-container .slide_img .prev,
    .slider-container .slide_img .next {
      width: 6rem;
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 99;
      transition: 0.45s;
      cursor: pointer;
      text-align: center;
      opacity: 0.6; }
    .slider-container .slide_img .next {
      right: 0; }
    .slider-container .slide_img .prev {
      left: 0; }
    .slider-container .slide_img .prev:hover,
    .slider-container .slide_img .next:hover {
      transition: 0.3s;
      background-color: var(--color-grey-dark-1); }
    .slider-container .slide_img .prev span,
    .slider-container .slide_img .next span {
      position: absolute;
      width: 0px;
      height: 0px;
      border: solid 20px;
      top: 50%;
      transform: translateY(-50%); }
    .slider-container .slide_img .prev span {
      border-color: transparent var(--color-main-white) transparent transparent;
      right: 35%; }
    .slider-container .slide_img .next span {
      border-color: transparent transparent transparent var(--color-main-white);
      left: 35%; }
  .slider-container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }

#picture1:checked ~ #one,
#picture2:checked ~ #two,
#picture3:checked ~ #three,
#picture4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

@keyframes scroll {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

.footer {
  background-color: var(--color-grey-dark-1);
  padding: 5rem 0;
  padding-bottom: 10rem;
  font-size: 1.4rem;
  color: var(--color-main-beige); }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: var(--color-main-beige);
    background-color: var(--color-grey-dark-1);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: var(--color-main-red);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    padding-top: 2rem;
    width: 80%;
    float: right; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: -10;
  position: fixed;
  overflow: hidden; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: var(--color-grey-dark-1); }
  .heading-4--dark {
    color: #000; }

.row {
  max-width: 50rem;
  margin: 0 auto; }
